.clear {
	clear:both;
}

.page.visible {
    display:block;
}

.page {
    display:none;
}

hr {
	margin-top:8px;
	margin-bottom: 12px;
}

h4 {
	margin-bottom:4px;
}

div .timestamps_bg {
	background:#efefef;
	padding:0px 16px;
	min-height:800px;
}

.my_margin {
	margin:32px;
}

.timestamp {
	display:block;
	overflow:hidden;
	margin:8px 0px 32px 0px;
}

.timestamp_bubble {
	position: relative;
	background-color: #fff;
	padding: 15px 15px;
	margin-bottom: 10px;
	border: 1px solid #eaeaea;
	max-width: 270px;
	-ms-border-radius: 2px;
	border-radius: 2px;
	width: 100%
}

#stamp_hours {
	width:110px;
}

/* STATUS BAR */

div.status_bar {
	display:inline-block;
	vertical-align: top;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 200px;
  height: 8px;
}

progress[value]::-webkit-progress-bar {
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) inset;
  background-color: #eee;
}

progress[value]::-webkit-progress-value {
    border-radius: 2px; 
    /* background-size: 8px 4px, 100% 100%, 100% 100%;  */
}

.green_bar progress[value]::-webkit-progress-value {
  	background-color: #94ca85; /* #2fa62f; */
}

.blue_bar progress[value]::-webkit-progress-value {
	background-color: #6a86b1;
}

.yellow_bar progress[value]::-webkit-progress-value {
	background-color: #fdb01e;
}

.red_bar progress[value]::-webkit-progress-value {
	background-color: #d4aa80; /*#d03b3b; */
}

/* ------- */

.user_reg {
/*	float:right;
	text-align: right; */
	width:100%;
	font-size:14px;
	color:#aeaeae;
}

.projects .milestones {
	display:none;
}
/* .milestones  */
svg.small_icon {
	width:22px;
	height:22px;
	margin-left:40px;
}

.projects .open_status {
	display: inline-block;
	overflow: hidden;
	font-size: 28px;
	font-weight: bold;
	line-height: 11px;
	position: relative;
	margin: 0px;
	width: 20px;
	margin-top: 0px;
}

.projects ul {
	list-style: none;
}

ul.milestones li {
	width:100%;
	display:block;
	overflow:hidden;
}

.milestone {
	float:left;
	min-width:240px;
}

.ml_hours {
	float:left;
	margin-left:80px;
	min-width:86px;
}

.btn {
	cursor:pointer;
}

.block {
    display:inline-block;
    width:100%;
}

.m_form input {
    float:right;
}

.m_form label {
    float:left;
    min-width:110px;
}

.m_form select {
    max-width:176px;
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
 
.overlay-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    cursor: pointer;
    z-index: 1000; /* high z-index */
    background: #000; /* fallback */
    background: rgba(0,0,0,0.75);
}
    .overlay-content {
        display: none;
        background: #fff;
        padding: 1%;
        width: 40%;
        position: absolute;
        top: 15%;
        left: 50%;
        margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
        cursor: default;
        z-index: 10001;
        border-radius: 4px;
        box-shadow: 0 0 5px rgba(0,0,0,0.9);
    }
 
    .close-btn {
        cursor: pointer;
        border: 1px solid #333;
        padding: 2% 5%;
        background: #a9e7f9; /* fallback */
        background: -moz-linear-gradient(top,  #a9e7f9 0%, #77d3ef 4%, #05abe0 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e7f9), color-stop(4%,#77d3ef), color-stop(100%,#05abe0));
        background: -webkit-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
        background: -o-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
        background: -ms-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
        background: linear-gradient(to bottom,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
        border-radius: 4px;
        box-shadow: 0 0 4px rgba(0,0,0,0.3);
    }
    .close-btn:hover {
        background: #05abe0;
    }
 
/* media query for most mobile devices */
@media only screen and (min-width: 0px) and (max-width: 480px){
 
    .overlay-content {
        width: 96%;
        margin: 0 2%;
        left: 0;
    }
}